body {
  background: #000040;
  color: aquamarine;
  font: 11pt Tahoma, Sans-serif;
}

tr:nth-child(even){
  background-color: darkviolet;
}

table, th, td {
  border: 1px solid aquamarine;
  border-collapse: collapse;
  padding: 15px;
}